/* line 6, ../../../../../.gem/gems/toolkit-1.0.0/stylesheets/toolkit/_border-box.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../.gem/gems/toolkit-1.0.0/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 14, ../../sass/partials/global/_extendables.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 19, ../../sass/partials/global/_extendables.scss */
.clearfix:after {
  clear: both;
}
