/* line 6, ../../../../../.gem/gems/toolkit-1.0.0/stylesheets/toolkit/_border-box.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../.gem/gems/toolkit-1.0.0/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 14, ../../sass/partials/global/_extendables.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 19, ../../sass/partials/global/_extendables.scss */
.clearfix:after {
  clear: both;
}

@media (min-width: 412px) {
  /* line 12, ../../sass/partials/layout/_layout.scss */
  .left {
    width: 46.51163%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }

  /* line 16, ../../sass/partials/layout/_layout.scss */
  .right {
    width: 46.51163%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  /* line 19, ../../sass/partials/layout/_layout.scss */
  .right.last {
    clear: right;
  }
  /* line 23, ../../sass/partials/layout/_layout.scss */
  .right.first {
    margin-top: 0;
  }

  /* line 28, ../../sass/partials/layout/_layout.scss */
  .submit-wrapper {
    clear: both;
  }
}
@media (min-width: 625px) {
  /* line 36, ../../sass/partials/layout/_layout.scss */
  .left {
    width: 63.49206%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }

  /* line 40, ../../sass/partials/layout/_layout.scss */
  .right {
    width: 31.74603%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  /* line 43, ../../sass/partials/layout/_layout.scss */
  .right.last {
    clear: right;
  }
}
/* line 51, ../../sass/partials/layout/_layout.scss */
.item-wrapper {
  margin-top: .75em;
  margin-bottom: .75em;
}
/* line 55, ../../sass/partials/layout/_layout.scss */
.right.last .item-wrapper {
  margin-top: 0;
}
/* line 59, ../../sass/partials/layout/_layout.scss */
.item-wrapper textarea {
  min-height: 10em;
}

/* line 66, ../../sass/partials/layout/_layout.scss */
form input,
form textarea {
  width: 100%;
}

/* line 71, ../../sass/partials/layout/_layout.scss */
.submit-wrapper {
  float: right;
}

/* line 75, ../../sass/partials/layout/_layout.scss */
[type="button"] {
  width: auto;
}

/* line 79, ../../sass/partials/layout/_layout.scss */
[value="Reset"] {
  font-size: 0.75em;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFCCCCCC', endColorstr='#FF999999');
  background-color: #cccccc;
  border: 0;
  color: white;
  text-shadow: #8c8c8c 0 -1px 0;
}
/* line 15, ../../../../../.gem/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
[value="Reset"]:hover {
  text-decoration: none;
}
/* line 42, ../../../../../.gem/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
[value="Reset"]:hover {
  background-color: #bfbfbf;
}
/* line 44, ../../../../../.gem/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
[value="Reset"]:active {
  background-color: #b8b8b8;
}
/* line 6, ../../../../../.gem/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
[value="Reset"].disabled, [value="Reset"][disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../.gem/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
[value="Reset"]::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 83, ../../sass/partials/layout/_layout.scss */
[value="Save"] {
  font-size: 0.75em;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF008FCC', endColorstr='#FF004766');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4dcaff), color-stop(50%, #008fcc), color-stop(100%, #006b99));
  background: -webkit-linear-gradient(#4dcaff, #008fcc 50%, #006b99);
  background: -moz-linear-gradient(#4dcaff, #008fcc 50%, #006b99);
  background: -o-linear-gradient(#4dcaff, #008fcc 50%, #006b99);
  background: linear-gradient(#4dcaff, #008fcc 50%, #006b99);
  -webkit-box-shadow: #99e0ff 0 1px 0 inset;
  -moz-box-shadow: #99e0ff 0 1px 0 inset;
  box-shadow: #99e0ff 0 1px 0 inset;
  border: 1px solid #005980;
  color: white;
  text-shadow: #0071a1 0 -1px 0;
}
/* line 15, ../../../../../.gem/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
[value="Save"]:hover {
  text-decoration: none;
}
/* line 24, ../../../../../.gem/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
[value="Save"]:hover {
  background-color: #006b99;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #42c7ff), color-stop(50%, #006b99), color-stop(100%, #004f70));
  background: -webkit-linear-gradient(#42c7ff, #006b99 50%, #004f70);
  background: -moz-linear-gradient(#42c7ff, #006b99 50%, #004f70);
  background: -o-linear-gradient(#42c7ff, #006b99 50%, #004f70);
  background: linear-gradient(#42c7ff, #006b99 50%, #004f70);
}
/* line 27, ../../../../../.gem/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
[value="Save"]:active {
  -webkit-box-shadow: #004f70 0 1px 2px inset;
  -moz-box-shadow: #004f70 0 1px 2px inset;
  box-shadow: #004f70 0 1px 2px inset;
}
/* line 6, ../../../../../.gem/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
[value="Save"].disabled, [value="Save"][disabled] {
  opacity: 0.6;
  background: #006b99;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../.gem/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
[value="Save"]::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 87, ../../sass/partials/layout/_layout.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 93, ../../sass/partials/layout/_layout.scss */
header,
.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: .75em;
}

/* line 10, ../../sass/partials/design/_design.scss */
[role="menu"] {
  font-size: 2em;
}
/* line 122, ../../../../../.gem/gems/toolkit-1.0.0/stylesheets/toolkit/_clearfix.scss */
[role="menu"]:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, ../../sass/partials/design/_design.scss */
[role="menu"] select {
  font-size: 1em;
  height: 1.15em;
  margin-left: .375em;
  min-width: 3.5em;
  max-width: 10em;
  border: none;
  background-color: transparent;
  border-radius: 0;
  padding-bottom: .15em;
  border-bottom: 1px solid grey;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  float: left;
}
/* line 37, ../../sass/partials/design/_design.scss */
[role="menu"] select:after {
  display: inline-block;
  content: '.';
  height: 1em;
  width: 1em;
}
/* line 45, ../../sass/partials/design/_design.scss */
[role="menu"] label {
  clear: both;
  float: left;
}

/* line 51, ../../sass/partials/design/_design.scss */
.select2-container {
  width: 5em;
  float: left;
}

/* line 57, ../../sass/partials/design/_design.scss */
.description {
  font-size: .75em;
  color: #888;
}

/* line 62, ../../sass/partials/design/_design.scss */
.warning {
  font-size: 1.25em;
  font-weight: bold;
  color: #3f0000;
  text-align: center;
  background: #ff7f7f;
  border: 2px solid #bf0000;
  border-radius: .25em;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 75, ../../sass/partials/design/_design.scss */
.warning p {
  margin-top: 0;
  margin-bottom: 0;
  padding: .25em;
}

/* line 82, ../../sass/partials/design/_design.scss */
body {
  font-family: sans-serif;
}

/* line 36, ../../sass/style.scss */
.logo {
  display: inline-block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  height: .75em;
  width: 3em;
  background-image: url('../images/static.svg?1370445285');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: bottom left;
}
